In [1]:

####################################################################################################
####################################################################################################

import sys
import os.path

import datetime
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np
import pandas as pd

from IPython.display import display
from IPython.display import Image

import tensorflow as tf

print (tf.__version__)

import keras
import keras.utils.vis_utils
from keras import backend as K
from keras import layers
from keras import regularizers
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers.normalization import BatchNormalization
from keras.models import load_model
from keras.models import Sequential
from keras.utils import plot_model

from s2_s2integrals_models import *
from helpers import *

sys.path.append(os.path.abspath("../"))
from pax_utils import s1s2_utils

1.4.1

Using TensorFlow backend.

In [2]:

####################################################################################################
####################################################################################################

file_all = "../pax_merge/merged/merged_all_1803031449.pkl"

df_all   = pd.read_pickle(file_all)
df_all   = df_all[df_all['intr_count'] == 1].reset_index(drop=True)


####################################################################################################
####################################################################################################

df_train_truth = df_all[:][:]
df_train_truth = df_all[:][['s2_electrons']]

df_train_input = df_all[:][s1s2_utils.getS2integralsDataFrameColumns()]

# add depth
df_depth                = df_all[:][['depth']]
df_train_input['depth'] = df_depth.as_matrix()



####################################################################################################
####################################################################################################

checkTrainingData(df_train_input, df_train_truth)

Input shape: (17982, 128)
Truth shape: (17982, 1)

Input DataFrame:

,s2_area_000,s2_area_001,s2_area_002,s2_area_003,s2_area_004,s2_area_005,s2_area_006,s2_area_007,s2_area_008,s2_area_009,...,s2_area_118,s2_area_119,s2_area_120,s2_area_121,s2_area_122,s2_area_123,s2_area_124,s2_area_125,s2_area_126,depth
0,1.715228,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.293108,...,0.0,0.400128,2.742959,3.460256,8.159419,38.424745,15.890681,1.354377,10.354574,57.456815
1,0.912039,0.0,0.0,1.545933,0.000000,0.000000,2.568431,0.000000,2.604376,2.010018,...,0.0,0.000000,5.596787,26.363896,126.844246,55.087875,8.130994,8.979807,13.682349,57.780505
2,0.000000,0.0,0.0,0.000000,2.104002,0.000000,1.731047,2.784006,0.000000,5.977608,...,0.0,1.534094,0.000000,1.919893,4.920848,0.505347,2.435258,0.506562,4.203870,34.074937
3,6.140486,0.0,0.0,9.062252,5.621141,1.789005,1.802042,0.000000,0.869444,0.000000,...,0.0,0.918565,0.619911,0.000000,1.230013,0.788772,1.179353,2.046051,0.000000,64.494053
4,4.333349,0.0,0.0,0.000000,1.313044,0.000000,0.613111,0.000000,1.061757,3.775456,...,0.0,3.896350,2.259100,3.023539,0.855252,7.456719,1.257868,4.551362,5.000204,51.510242

Truth DataFrame:

   s2_electrons
0            79
1            75
2            73
3            70
4           109

In [3]:

##########################################################################################
##########################################################################################

lst_models = [bargeModel_S2()]

In [4]:

##########################################################################################
##########################################################################################

for iModel in range(0, len(lst_models)):
    
    ######################################################################################
    ######################################################################################

    model, model_name = lst_models[iModel]
    
    
    ######################################################################################
    ######################################################################################

    epochs     = 10
    batch_size = 64
    verbose    = 1
    
    
    ######################################################################################
    # Fit Model
    ######################################################################################
    
    print()
    print("Model Summary:")
    model.summary()
    print()
    model.fit(df_train_input, df_train_truth, epochs=epochs, batch_size=batch_size, verbose=verbose)
    print("Training Complete!")

        
    ######################################################################################
    # Save Model
    ######################################################################################

    folder   = "models" + "/"    
    name     = 'model' + '_' + model_name + '_' + 'elu' #model.activation
    name_h5  = folder + name + ".h5"
    name_png = folder + name + ".png"

    model.save(name_h5, overwrite=True)
        
   
    ######################################################################################
    ######################################################################################

    plot_model(model, to_file=name_png, show_layer_names=True, show_shapes=True)
    
    Image(filename=name_png) 
    

    ######################################################################################
    ######################################################################################
    
    continue

Model Summary:
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_2 (Dense)              (None, 127)               16383
_________________________________________________________________
dropout_1 (Dropout)          (None, 127)               0
_________________________________________________________________
dense_3 (Dense)              (None, 100)               12800
_________________________________________________________________
dropout_2 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_4 (Dense)              (None, 80)                8080
_________________________________________________________________
dropout_3 (Dropout)          (None, 80)                0
_________________________________________________________________
dense_5 (Dense)              (None, 40)                3240
_________________________________________________________________
dropout_4 (Dropout)          (None, 40)                0
_________________________________________________________________
dense_6 (Dense)              (None, 20)                820
_________________________________________________________________
dropout_5 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_7 (Dense)              (None, 10)                210
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 11
=================================================================
Total params: 58,056
Trainable params: 58,056
Non-trainable params: 0
_________________________________________________________________

Epoch 1/20
17982/17982 [==============================] - 7s 401us/step - loss: 563.3875
Epoch 2/20
17982/17982 [==============================] - 4s 222us/step - loss: 415.2801
Epoch 3/20
17982/17982 [==============================] - 4s 216us/step - loss: 406.0629
Epoch 4/20
17982/17982 [==============================] - 4s 222us/step - loss: 391.1646
Epoch 5/20
17982/17982 [==============================] - 4s 217us/step - loss: 384.7075
Epoch 6/20
17982/17982 [==============================] - 4s 223us/step - loss: 373.3005
Epoch 7/20
17982/17982 [==============================] - 4s 246us/step - loss: 376.1215
Epoch 8/20
17982/17982 [==============================] - 4s 210us/step - loss: 357.6991
Epoch 9/20
17982/17982 [==============================] - 4s 234us/step - loss: 351.5923
Epoch 10/20
17982/17982 [==============================] - 4s 220us/step - loss: 360.7557
Epoch 11/20
17982/17982 [==============================] - 4s 223us/step - loss: 340.2132
Epoch 12/20
17982/17982 [==============================] - 4s 243us/step - loss: 341.0004
Epoch 13/20
17982/17982 [==============================] - 4s 228us/step - loss: 325.4282
Epoch 14/20
17982/17982 [==============================] - 4s 217us/step - loss: 318.9626
Epoch 15/20
17982/17982 [==============================] - 4s 227us/step - loss: 315.4767
Epoch 16/20
17982/17982 [==============================] - 4s 225us/step - loss: 308.5185
Epoch 17/20
17982/17982 [==============================] - 4s 215us/step - loss: 312.9448
Epoch 18/20
17982/17982 [==============================] - 4s 221us/step - loss: 308.1120
Epoch 19/20
17982/17982 [==============================] - 4s 230us/step - loss: 304.0376
Epoch 20/20
17982/17982 [==============================] - 4s 233us/step - loss: 297.6940
Training Complete!