In [1]:

####################################################################################################
####################################################################################################

import sys
import os.path

import datetime
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np
import pandas as pd
#import seaborn as sns

from IPython.display import display
#from IPython.display import Image
from PIL import Image

import tensorflow as tf

print (tf.__version__)

import keras
import keras.utils.vis_utils
from keras import backend as K
from keras import layers
from keras import regularizers
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers.normalization import BatchNormalization
from keras.models import load_model
from keras.models import Sequential
from keras.utils import plot_model

from xy_s2integrals_models import *
from helpers import *

sys.path.append(os.path.abspath("../"))
from pax_utils import s1s2_utils

1.3.0

Using TensorFlow backend.

In [2]:

####################################################################################################
####################################################################################################

file_all = "../data_lfs/merged_all_50k_1803141941.pkl"

df_all   = pd.read_pickle(file_all)
df_all   = df_all[df_all['intr_count'] == 1].reset_index(drop=True)
df_all   = df_all[25000:][:]


####################################################################################################
####################################################################################################

df_train_input = df_all[:][s1s2_utils.getS2integralsDataFrameColumns()]
df_train_truth = df_all[:][['x', 'y']]


####################################################################################################
####################################################################################################

checkTrainingData(df_train_input, df_train_truth)

Input shape: (5011, 127)
Truth shape: (5011, 2)

Input DataFrame:

,s2_area_000,s2_area_001,s2_area_002,s2_area_003,s2_area_004,s2_area_005,s2_area_006,s2_area_007,s2_area_008,s2_area_009,...,s2_area_117,s2_area_118,s2_area_119,s2_area_120,s2_area_121,s2_area_122,s2_area_123,s2_area_124,s2_area_125,s2_area_126
25000,0.825528,0.0,0.0,1.152132,0.000000,0.000000,0.000000,0.000000,0.972961,0.000000,...,4.937289,0.0,7.218913,1.425349,0.183338,2.849777,0.465242,7.050439,3.856088,1.239840
25001,4.260632,0.0,0.0,9.810595,13.234727,15.455276,20.949707,19.900917,16.701942,3.698376,...,2.916543,0.0,5.677208,16.205469,14.773957,6.865777,8.004706,4.175336,6.680394,1.746098
25002,1.804438,0.0,0.0,7.816449,21.015508,7.980388,6.982829,2.663670,1.203736,1.976867,...,1.906674,0.0,3.990904,3.151415,7.477839,3.045131,1.434088,2.635961,1.595465,1.373961
25003,2.391124,0.0,0.0,1.232717,1.391422,0.000000,0.275137,0.000000,0.996703,0.811028,...,0.000000,0.0,34.773565,1.633377,1.328085,0.000000,0.000000,0.815733,5.764327,3.016163
25004,0.798541,0.0,0.0,0.412054,0.774462,5.975792,3.433039,0.000000,0.827500,2.705991,...,1.307462,0.0,25.923236,65.688856,11.813069,5.744365,4.154686,1.235295,15.566745,9.266530

Truth DataFrame:

               x          y
25000 -14.652233  28.887292
25001  19.758080  19.924424
25002  16.882350  30.988062
25003 -19.448916  12.724450
25004  -1.879574  17.775761

In [3]:

##########################################################################################
##########################################################################################

lst_models = [
    Xenon1TPosRecMLP(),
    bargeModel()
]

In [7]:

##########################################################################################
##########################################################################################

for iModel in range(0, len(lst_models)):
    
    ######################################################################################
    ######################################################################################

    model, model_name = lst_models[iModel]
    
    
    ######################################################################################
    ######################################################################################

    epochs     = 1#0
    batch_size = 64
    verbose    = 1
    
    
    ######################################################################################
    # Fit Model
    ######################################################################################
    
    print()
    print("Model Summary:")
    model.summary()
    print()
    #model.fit(df_train_input, df_train_truth, epochs=epochs, batch_size=batch_size, verbose=verbose)
    model.fit(df_train_input.values, df_train_truth.values, epochs=epochs, batch_size=batch_size, verbose=verbose)

    print("Training Complete!")

        
    ######################################################################################
    # Save Model
    ######################################################################################

    folder   = "models" + "/"    
    name     = 'model' + '_' + model_name + '_' + 'elu' #model.activation
    name_h5  = folder + name + ".h5"
    name_png = folder + name + ".png"

    model.save(name_h5, overwrite=True)
        
   
    ######################################################################################
    ######################################################################################

    plot_model(model, to_file=name_png, show_layer_names=True, show_shapes=True)
    
    #Image(filename=name_png) 
    #display(Image.open(name_png))


    ######################################################################################
    ######################################################################################
    
    continue

Model Summary:
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 127)               16256
_________________________________________________________________
dense_2 (Dense)              (None, 100)               12800
_________________________________________________________________
dropout_1 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 80)                8080
_________________________________________________________________
dropout_2 (Dropout)          (None, 80)                0
_________________________________________________________________
dense_4 (Dense)              (None, 40)                3240
_________________________________________________________________
dropout_3 (Dropout)          (None, 40)                0
_________________________________________________________________
dense_5 (Dense)              (None, 20)                820
_________________________________________________________________
dropout_4 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_6 (Dense)              (None, 2)                 42
=================================================================
Total params: 41,238
Trainable params: 41,238
Non-trainable params: 0
_________________________________________________________________

Epoch 1/1
5011/5011 [==============================] - 0s 46us/step - loss: 17.6288
Training Complete!

Model Summary:
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 127)               16256
_________________________________________________________________
dense_8 (Dense)              (None, 100)               12800
_________________________________________________________________
dropout_5 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_9 (Dense)              (None, 80)                8080
_________________________________________________________________
dropout_6 (Dropout)          (None, 80)                0
_________________________________________________________________
dense_10 (Dense)             (None, 40)                3240
_________________________________________________________________
dropout_7 (Dropout)          (None, 40)                0
_________________________________________________________________
dense_11 (Dense)             (None, 20)                820
_________________________________________________________________
dropout_8 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_12 (Dense)             (None, 2)                 42
=================================================================
Total params: 41,238
Trainable params: 41,238
Non-trainable params: 0
_________________________________________________________________

Epoch 1/1
5011/5011 [==============================] - 0s 48us/step - loss: 72.0541
Training Complete!