In [3]:

####################################################################################################
####################################################################################################

import sys
import os.path

import datetime
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np
import pandas as pd
#import seaborn as sns

from IPython.display import display
#from IPython.display import Image
from PIL import Image

import tensorflow as tf

print (tf.__version__)

import keras
import keras.utils.vis_utils
from keras import backend as K
from keras import layers
from keras import regularizers
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers.normalization import BatchNormalization
from keras.models import load_model
from keras.models import Sequential
from keras.utils import plot_model

sys.path.append(os.path.abspath("../"))
from xy_s2integrals_models import *
from helpers import *

sys.path.append(os.path.abspath("../../"))
from pax_utils import s1s2_utils

1.4.1

In [5]:

####################################################################################################
####################################################################################################

nEventsTrain = 100000
file_all     = "../../data_lfs/merged_all_200k_1803261941.pkl"

df_all   = pd.read_pickle(file_all)
df_all   = df_all[df_all['intr_count'] == 1].reset_index(drop=True)
df_all   = df_all[0:nEventsTrain][:]


####################################################################################################
####################################################################################################

df_train_input = df_all[:][s1s2_utils.getS2integralsDataFrameColumns()]
df_train_truth = df_all[:][['x', 'y']]


####################################################################################################
####################################################################################################

checkTrainingData(df_train_input, df_train_truth)

Input shape: (100000, 127)
Truth shape: (100000, 2)

Input DataFrame:

,s2_area_000,s2_area_001,s2_area_002,s2_area_003,s2_area_004,s2_area_005,s2_area_006,s2_area_007,s2_area_008,s2_area_009,...,s2_area_117,s2_area_118,s2_area_119,s2_area_120,s2_area_121,s2_area_122,s2_area_123,s2_area_124,s2_area_125,s2_area_126
0,1.715228,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.293108,...,6.564991,0.0,0.400128,2.742959,3.460256,8.159419,38.424745,15.890681,1.354377,10.354574
1,0.912039,0.0,0.0,1.545933,0.000000,0.000000,2.568431,0.000000,2.604376,2.010018,...,3.208600,0.0,0.000000,5.596787,26.363896,126.844246,55.087875,8.130994,8.979807,13.682349
2,0.000000,0.0,0.0,0.000000,2.104002,0.000000,1.731047,2.784006,0.000000,5.977608,...,3.487908,0.0,1.534094,0.000000,1.919893,4.920848,0.505347,2.435258,0.506562,4.203870
3,6.140486,0.0,0.0,9.062252,5.621141,1.789005,1.802042,0.000000,0.869444,0.000000,...,0.000000,0.0,0.918565,0.619911,0.000000,1.230013,0.788772,1.179353,2.046051,0.000000
4,4.333349,0.0,0.0,0.000000,1.313044,0.000000,0.613111,0.000000,1.061757,3.775456,...,12.939582,0.0,3.896350,2.259100,3.023539,0.855252,7.456719,1.257868,4.551362,5.000204

Truth DataFrame:

           x          y
0   2.626434 -17.960824
1  10.907536  -6.312277
2  24.631697 -12.763601
3   2.726006  37.749081
4 -18.078293 -23.212466

In [6]:

##########################################################################################
##########################################################################################

lst_models = [
    Xenon1TPosRecMLP(),
    bargeModel()
]

In [8]:

##########################################################################################
##########################################################################################

for iModel in range(0, len(lst_models)):
    
    ######################################################################################
    ######################################################################################

    model, model_name = lst_models[iModel]
    
    
    ######################################################################################
    ######################################################################################

    epochs     = 10
    batch_size = 64
    verbose    = 1
    
    
    ######################################################################################
    # Fit Model
    ######################################################################################
    
    print()
    print("Model Summary:")
    model.summary()
    print()
    #model.fit(df_train_input, df_train_truth, epochs=epochs, batch_size=batch_size, verbose=verbose)
    model.fit(df_train_input.values, df_train_truth.values, epochs=epochs, batch_size=batch_size, verbose=verbose)

    print("Training Complete!")

        
    ######################################################################################
    # Save Model
    ######################################################################################

    folder   = "models/"    
    name     = 'model' + '_' + model_name + '_' + 'elu' #model.activation
    name_h5  = folder + name + ".h5"
    name_png = folder + name + ".png"

    model.save(name_h5, overwrite=True)
        
   
    ######################################################################################
    ######################################################################################

    plot_model(model, to_file=name_png, show_layer_names=True, show_shapes=True)
    
    #Image(filename=name_png) 
    #display(Image.open(name_png))


    ######################################################################################
    ######################################################################################
    
    continue

Model Summary:
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 127)               16256
_________________________________________________________________
dense_2 (Dense)              (None, 100)               12800
_________________________________________________________________
dropout_1 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 80)                8080
_________________________________________________________________
dropout_2 (Dropout)          (None, 80)                0
_________________________________________________________________
dense_4 (Dense)              (None, 40)                3240
_________________________________________________________________
dropout_3 (Dropout)          (None, 40)                0
_________________________________________________________________
dense_5 (Dense)              (None, 20)                820
_________________________________________________________________
dropout_4 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_6 (Dense)              (None, 2)                 42
=================================================================
Total params: 41,238
Trainable params: 41,238
Non-trainable params: 0
_________________________________________________________________

Epoch 1/10
100000/100000 [==============================] - 16s 160us/step - loss: 1.3088
Epoch 2/10
100000/100000 [==============================] - 13s 134us/step - loss: 1.3112
Epoch 3/10
100000/100000 [==============================] - 14s 143us/step - loss: 1.2762
Epoch 4/10
100000/100000 [==============================] - 14s 143us/step - loss: 1.2734
Epoch 5/10
100000/100000 [==============================] - 13s 133us/step - loss: 1.2556
Epoch 6/10
100000/100000 [==============================] - 14s 142us/step - loss: 1.2403
Epoch 7/10
100000/100000 [==============================] - 14s 141us/step - loss: 1.2473
Epoch 8/10
100000/100000 [==============================] - 14s 141us/step - loss: 1.2318
Epoch 9/10
100000/100000 [==============================] - 14s 138us/step - loss: 1.2310
Epoch 10/10
100000/100000 [==============================] - 14s 145us/step - loss: 1.2113
Training Complete!

Model Summary:
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 127)               16256
_________________________________________________________________
dense_8 (Dense)              (None, 100)               12800
_________________________________________________________________
dropout_5 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_9 (Dense)              (None, 80)                8080
_________________________________________________________________
dropout_6 (Dropout)          (None, 80)                0
_________________________________________________________________
dense_10 (Dense)             (None, 40)                3240
_________________________________________________________________
dropout_7 (Dropout)          (None, 40)                0
_________________________________________________________________
dense_11 (Dense)             (None, 20)                820
_________________________________________________________________
dropout_8 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_12 (Dense)             (None, 2)                 42
=================================================================
Total params: 41,238
Trainable params: 41,238
Non-trainable params: 0
_________________________________________________________________

Epoch 1/10
100000/100000 [==============================] - 16s 163us/step - loss: 18.4627
Epoch 2/10
100000/100000 [==============================] - 15s 149us/step - loss: 2.1093
Epoch 3/10
100000/100000 [==============================] - 14s 143us/step - loss: 1.8308
Epoch 4/10
100000/100000 [==============================] - 13s 125us/step - loss: 1.7145
Epoch 5/10
100000/100000 [==============================] - 14s 138us/step - loss: 1.6420
Epoch 6/10
100000/100000 [==============================] - 12s 119us/step - loss: 1.5574
Epoch 7/10
100000/100000 [==============================] - 10s 102us/step - loss: 1.5013
Epoch 8/10
100000/100000 [==============================] - 11s 108us/step - loss: 1.4557
Epoch 9/10
100000/100000 [==============================] - 11s 110us/step - loss: 1.4116
Epoch 10/10
100000/100000 [==============================] - 15s 153us/step - loss: 1.3776
Training Complete!